<header
  class="relative bg-cover bg-center h-screen"
  style={`background-image: url('cbc-banner-1.svg')`}
>
  <div class="absolute inset-0 bg-black/50"></div>

  <!-- NAV with Alpine.js -->
  <nav
    class="relative z-10 px-8 py-6 text-white flex items-center justify-between"
    x-data="{ open: false }"
  >
    <!-- Logo -->
    <a href="/" class="flex items-center">
      <img
        src={`cbc-logo-white.svg`}
        alt="City Bible Church"
        class="h-[104px] w-[104px]"
      />
    </a>


    <ul class="hidden text-base md:flex space-x-6 absolute left-1/2 transform -translate-x-1/2">
      <li><a href="#" class="hover:underline">Home</a></li>
      <li><a href="#" class="hover:underline">About Us</a></li>
      <li><a href="#" class="hover:underline">Ministries</a></li>
      <li><a href="#" class="hover:underline">Contact</a></li>
      <li><a href="#" class="hover:underline">Reviews</a></li>
    </ul>

    <div class="hidden md:block">
      <a
        href="#"
        class="w-[176px] px-4 py-2 border border-white text-white rounded-full hover:bg-white hover:text-black transition"
      >
        Join Us
      </a>
    </div>
  </div>


<div class="absolute top-[180px] left-[40px] 
            sm:top-[200px] sm:left-[100px] 
            lg:top-[330px] lg:left-[270px]">
  <h1 class="text-white text-[2rem]  lg:text-[3rem] font-bold">
    City Bible Church
  </h1>
  <h2 class="text-white max-w-[600px] text-base sm:text-lg lg:text-xl">
    Sed natus ipsum est necessitatibus quia est recusandae voluptas eos porro magni...
  </h2>
  <button class="text-white rounded-full px-6 py-2 mt-5 flex items-center gap-x-2" style="background-color: #134985 ">    
  <img src="arrow_right_long.svg" alt="Icon" class="w-5 h-5" />
    Visit on Sunday
  </button>

</div>



</header>
